--
-- PostgreSQL database dump
--

\restrict t20FzA7AA0ioqU99vDhX7SuzMaieuwGHcgBMWDAzlP3cPhsB86T3jhkLcJFMKIK

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
\.


--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tontines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tontines (id, code, nom, montant_panier, nombre_membres, min_membres, max_membres, statut, date_debut, jour_collecte, description, createur_id, created_at) FROM stdin;
1	TB64965BD	TONTINE STANDARD	50000	2	5	10	recrutement	\N	10		1	2026-03-10 05:31:26.756945
\.


--
-- Data for Name: contrats; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contrats (id, reference, user_id, tontine_id, fichier_pdf, hash_contrat, signe, signe_le, ip_signature, created_at) FROM stdin;
\.


--
-- Data for Name: kyc; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: membres_tontines; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.membres_tontines (id, user_id, tontine_id, ordre_collecte, a_recu, statut, date_adhesion, contrat_signe, contrat_signe_le) FROM stdin;
1	2	1	\N	f	actif	2026-03-10 05:45:00.688871	f	\N
2	4	1	\N	f	actif	2026-03-10 10:45:30.11914	f	\N
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: paiements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.paiements (id, reference, user_id, tontine_id, montant, type_paiement, mois_reference, statut, date_echeance, date_paiement, created_at) FROM stdin;
\.


--
-- Data for Name: profils; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 19, true);


--
-- Name: contrats_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contrats_id_seq', 1, false);


--
-- Name: kyc_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.kyc_id_seq', 3, true);


--
-- Name: membres_tontines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.membres_tontines_id_seq', 2, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.notifications_id_seq', 5, true);


--
-- Name: paiements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.paiements_id_seq', 1, false);


--
-- Name: profils_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.profils_id_seq', 5, true);


--
-- Name: tontines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tontines_id_seq', 1, true);


--
-- Name: utilisateurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilisateurs_id_seq', 5, true);


--
-- PostgreSQL database dump complete
--

\unrestrict t20FzA7AA0ioqU99vDhX7SuzMaieuwGHcgBMWDAzlP3cPhsB86T3jhkLcJFMKIK

